.details {
    background : linear-gradient(25deg,#ff8800,#693800 90%);
    text-align: center;
}

.details .container {
    background-color: var(--var-color-secondary);
    margin: auto 5rem;
    padding-top: 10px;
}
.details .details_main {
    width: fit-content;
}

.backFromDetails {
    color: var(--var-color-secondary);
	background-color: brown;
	border-radius: 10px;
	border: black 3px solid;
	padding: 3px;
	text-decoration: none;
}

.backFromDetails:hover {
    font-size: 18px;
}

.details_left img {
    max-width: 100%;
}

.details_left , .details_right {
    max-width: 400px;
    display: inline-block;
    vertical-align: top;

    width: fit-content;
    max-width: 40%;
    text-align: left;
    font-size: var(--var-font-size-text);
}

@media (max-width: 900px) {
    .details_left , .details_right {
        display: block;
        margin: auto;
    }
}