/* Footer */
body>footer {
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--var-color-primary);
    border-top: 2px solid grey;
    color: whitesmoke;
}

body>footer>h1 {
    margin: 0px;
    text-align: center;
    color: var(--var-color-tertiary);
    font-size: 40px;
}

.contacter_div {
    margin: 0px 50px;
    display: inline-block;
    height: fit-content;
}

body>footer>div>h5 {
    margin: 0px;
    font-size: 30px;
    margin-bottom: 5px;
}

@media (max-width:750px){
    body>footer>h1 {
        font-size: 30px;
    }
    
    body>footer>div>h5 {
    	font-size: 20px;
	}
}

#datemaj {
    height: fit-content;
	padding-left: 20px;
	text-align: left;
	font-size: 1.3em;
}

