
body>header {
    z-index: 10;
    position: fixed;
    display: flex;
    background-color: var(--var-color-tr-primary);
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid grey;
    /* (H) (D) (B) (G)*/ /* (H B) (G D) */ /* (H B G D) */
    padding: 0px 20px;
    justify-content: center;
    min-height: 10%;
}

body>header>div {
    display: flex;
    width: 1200px;
}

body>header .headerImg {
    width: 60px;
    height: 40px;
    margin-top: 15px;
    margin-right: 50px;
}

body>header nav {
    width: 80%;
}

body>header nav>a {
    font-family: 'Russo One', sans-serif;
    display: inline-block;
    color: var(--var-color-tertiary);
    text-decoration: none;
    padding: 20px 10px 5px 10px;
    height: 100%;
    font-size: 150%;
}

body>header .navBar>a:hover {
    background-color: #526981;
}

@media (max-width:1054px) {
    body>header nav>a {
        font-size: 95%;
    }
}

@media (max-width:750px) {
    body>header {
        min-height: 13%;
    }

    .openHeader, .closeHeader, .headerImg {
        position: absolute;
    }

    .headerImg {
        left: 20px;
    }

    body>header>div {
        justify-content: center;
    }

    body>header .openHeader {
        display: block;
    }

    body>header .navBar {
        padding-top: 70px;
        width: 100%;
    }

    body>header nav>a {
        display: block;
        height: 50px;
        text-align: center;
        font-size: 120%;
    }
}
