body>header {
    z-index: 10;
    position: fixed;
    display: flex;
    background-color: var(--var-color-tr-primary);
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid grey;
    /* (H) (D) (B) (G)*/ /* (H B) (G D) */ /* (H B G D) */
    padding: 0px;
    justify-content: center;
    min-height: 10%;
}

body>header .headerImg {
    width: 7vw;
    height: 4vw;
    margin: auto;
    margin-right: 50px;
    align-self: center;
}

body>header nav {
    width: 80%;
}

body>header nav>a {
    font-family: 'Russo One', sans-serif;
    display: inline-block;
    color: var(--var-color-tertiary);
    text-decoration: none;
    padding: 20px 10px 5px 10px;
    height: 100%;
    font-size: var(--var-font-size-header);
}

body>header .navBar>a:hover {
    background-color: var(--var-color-tr-nav-over);
    border-bottom: 1.5px aqua solid;
}

body>header .navBar .active {
    background-color: var(--var-color-tr-nav-over);
    border-top: 1.5px red solid;
}


@media (max-width:750px) {
    body>header {
        min-height: 13%;
    }

    .openHeader, .closeHeader, .headerImg {
        position: absolute;
        margin-top: 5%;
    }

    .headerImg {
        width: 100px !important;
        height: 60px !important;
        left: 20px;
    }

    body>header .openHeader {
        display: block;
    }

    body>header .navBar {
        padding-top: 70px;
        width: 100%;
    }

    body>header nav>a {
        display: block;
        height: 18%;
        text-align: center;
        font-size: 4vw;
    }
}

@media (max-width:500px){
    body>header nav>a {
        display: block;
        height: 18%;
        text-align: center;
        font-size: 6vw;
    }
}