body, html, .viewContainer{
	margin: 0px;
	padding: 0px;
}

* {
    box-sizing: border-box;
}

.hide {
	display: none !important;
}

.viewContainer article {
	padding-top: 8%;
}

@media (max-width: 750px) {
	.viewContainer article {
		padding-top: 20%;
	}
}