/*filtres*/
.searchBar {
	background-color: var(--var-color-secondary);
	padding: 10px;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	width: fit-content;
}

.minimum>input {
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;
}

.minimum {
	display: flex;
}

.minimum>h4 {
	margin: 0px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.minimum>h4>img {
	width: 15px;
}

.minimum>h4:hover {
	text-decoration: underline;
	cursor: pointer;
}

.searchBar fieldset {
	width: fit-content;
	display: inline;
	vertical-align: top;
}

.searchForm>button {
	background-color: grey;
	width: 7vw;
	height: 3.5vw;
	border: 1px grey solid;
	padding: 10px 15px;
	margin: 15px;
	color: black;
	font-weight: bold;
}

.searchForm>button:hover {
	background-color: rgb(139, 139, 139);
	width: 7.5vw;
	height: 3.8vw;
	margin: 13px 12px;
}


/*projects*/
.projects {
    background-image: url("../img/Fond/fondBois1.jpg");
    background-attachment: fixed;
    background-size: 100% 100vh;
    padding: 20px 5% 50px 5%;
}

.projects>h1 {
    color: var(--var-color-tertiary);
    text-align: center;
    font-size: 30px;
	margin-bottom: 80px;
}

.project_div {
	display: inline-flex;
    position: relative;
    margin: 10px;
	margin-bottom: 30px;
	height: 100%;
}

.project_img {
    width: 550px;
	height: 350px;
	border-radius: 15px;
}

.project_div_text {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
	width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: var(--var-color-tertiary);
	font-size: var(--var-font-size-text);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.project_div_text>h2 {
    font-size: 2em;
}

.project_div_text a {
    color: var(--var-color-secondary);
}

@media (max-width:1300px){
	.project_img {
		width: 400px;
		height: 300px;
	}
}

@media (max-width:500px){
	.project_div {
		display: block;
		background-color: white;
		margin: 10px;
		margin-bottom: 30px;
		height: 100%;
		border-radius: 15px;
	}

	.searchForm>button {
		width: 70px;
		height: 40px;
	}
	
	.searchForm>button:hover {
		width: 70px;
		height: 40px;
	}

	.project_img {
		width: 100%;
		height: 200px;
	}

	.project_div_text {
		position: relative;
	}
}