/* BARRE DE RECHERCHE */
.searchBar {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: -40px;
	width: 100%;
}

.searchForm {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	flex-grow: 1;
	padding: 10px 15px;
	padding-left: 60px;
	margin-left: -50px;
	margin-right: -10px;
	background-image: linear-gradient(#505f6e 0%, #2c3037 300%);
}
.searchForm:not([style*="none"]) {
	animation: fadeIn .2s ease, slide .15s cubic-bezier(0.19, 1, 0.22, 1);
}
.searchForm input,
.searchForm select {
	background-color: #43495399;
	border: 1px solid #0001;
	border-radius: 3px;
	box-shadow: inset 0px 0px 5px #0000;
	color: #dfe3e6;
	padding: 5px 8px;
	transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.searchForm input:hover,
.searchForm select:hover {
	outline: none;
	box-shadow: inset 1px 1px 8px #0003;
}
.searchForm input:focus,
.searchForm select:focus {
	outline: none;
	box-shadow: inset 1px 1px 8px #0005;
}
.searchForm button[type=submit] {
	background-color: #6a8704;
	padding: 4px 15px;
	border:none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.searchForm button[type=submit]:not(:disabled)hover {
	filter: brightness(1.1);
}
.searchForm button[type=submit]:disabled {
	opacity: .7;
	cursor: wait;
	background-color: #454d58;
	color:#fff5;
}

/*projects*/
.projects {
    background-image: url("../img/Fond/fondBois1.jpg");
    background-attachment: fixed;
    background-size: 100% 100vh;
    padding: 20px 5% 50px 5%;
}

.projects>h1 {
    color: var(--var-color-tertiary);
    text-align: center;
    font-size: 30px;
	margin-bottom: 80px;
}

.project_duo {
	margin-bottom: 50px;
}

.project_div {
	vertical-align: middle;
	display: inline;
    position: relative;
    margin: 10px;
	height: 100%;
}

.project_img {
    width: 400px;
}

.project_div_text {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: var(--var-color-tertiary);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}

.project_div_text:hover {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.3s;
}

.project_div_texte>h2 {
    font-size: 2em;
}

.project_div_texte>p {
    font-size: 1.5em;
}

.project_div_texte>p>a {
    color: var(--var-color-secondary);
}


@media (max-width:750px){
	.projects{
		padding: 20px 5% 50px 5%;
	}
}





