/*Compétences*/
.skills {
    background : linear-gradient(25deg,#4ab7bb,#06565a 90%);
    text-align: center;
}

.skills>h1 {
    color: var(--var-color-tertiary);
    font-size: 30px;
}

.skill-div {
    color: black;
    display: inline-block;
    border: 2px black;
    width: 250px;
    min-height: 350px;
    max-height: 350px;
    vertical-align: top;
    background-color: var(--var-color-tertiary);
    border-radius: 15px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-bottom: 2px;
    /*H D B G*/
    margin: 15px;
}

.competence>img {
    width: 70px;
}

@media (max-width: 700px) {
    .competence {
        min-height: 290px;
        max-height: 290px;
    }
}