/* root */
:root {
    --var-color-primary: #293542;
    --var-color-secondary: linear-gradient(to bottom, #973daa, #8b3cb2, #7c3db9, #683fc1, #4d41c9);
}

/* HTML et BODY */

@font-face {
    font-family: "SpaceCrow";
    src: url("../res/Space\ Crow.otf");
}

body {
    margin: 0px;
    margin-top: 0px;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

#remonter {
    position: fixed;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    background-color: grey;
    width: 35px;
    height: 35px;
    padding: 10px;
    font-size: 35px;
    border-top-left-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0 0 0);
    transition: 0.25s;
}

header {
    background-color: var(--var-color-primary);
    font-family: 'Russo One', sans-serif;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid grey;
}

header>a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
}

header>a:hover {
    background-color: #526981;
}

svg {
    font-family: 'Russo One', sans-serif;
    width: 50%; height: 40%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 4s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 130px;
}

@keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
    80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
    100% {
      fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

/* SECTIONS */

section, footer {
    padding: 5px;
    padding-top: 25px;
    border-bottom: solid;
    font-family: sans-serif;
    border-bottom: grey;
}

#s0 {
    background-image: url("../img/fondNum1.avif");
    background-attachment: fixed;
    background-size: 100% 100vh;
    min-height: 100vh;
}

#s0>img {
    border-bottom: 6px black solid ;
}

#listes, #projets{
    background-color: #eaf4fb;
    background-size: 100%;
}

#apropos, #contacter, #tableaux {
    position: relative;
    z-index: 0;
    padding-bottom: 100px;
    box-shadow: black 0px 5px 25px 0px;
    background-color: var(--var-color-primary);
    color: white;
}

#apropos {
    padding-inline: 20%;
}

#apropos>h1 {
    text-align: center;
}

#apropos>img {
    width: 60%;
    margin-left: 20%;
}

#listes {
    font-size: 25px;
    color: white;
}

#listes>ul {
    background-color: grey;
    min-width: min-content;
    max-width: 50%;
    border: 1px solid var(--var-color-primary);
    border-radius: 10px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
}

li {
    list-style-image: url("../img/carre.svg");
}

p {
    font-size: 25px;
    line-height: 1.6;
    text-align: justify;
}

#tableaux {
    padding-bottom: 20px;
}

#tableaux>div {
    text-align: center;
}

#tableaux>div>h2 {
    font-size: 40px;
    padding: 3px;
    margin: auto;
}

table {
    font-size: 18px;
    background-color: black;
    color: #222222;
    max-width: 60%;
    margin: auto;
}

.entete {
    background-color: aqua;
}

.ligbis {
    background-color: aquamarine;
}

.lig {
    background-color: #E3E3E3;
}

#projets {
    padding-left: 10%;
    padding-right: 10%;
}

#projets>h1 {
    color: white;
    text-shadow: 3px 3px 4px black;
    text-align: center;
    font-size: 50px;
}

#projets>div>div {
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    box-shadow: 3px 3px 4px black;
}

#projets>div>div>p {
    margin-right: 8%;
}

#showprojets {
    margin-inline: 35% 35%;
    width: 30%; /*250px*/
    height: 60px; /*56px*/
    font-size: 30px;
    background: var(--var-color-secondary);
    border: 0;
    color: white;
    font-family: "SpaceCrow";
    letter-spacing: 5px;
    box-shadow: 6px 0px 0px #00E6F6;
}

#showprojets:hover {
    margin-inline: 32% 32%;
    width: 36%;
    height: 66px;
}

#hideprojets {
    margin-inline: 35% 35%;
    width: 30%; /*250px*/
    height: 60px; /*56px*/
    font-size: 30px;
    background: var(--var-color-secondary);
    border: 0;
    color: white;
    font-family: "SpaceCrow";
    letter-spacing: 5px;
    box-shadow: 6px 0px 0px #00E6F6;
}

#hideprojets:hover {
    margin-inline: 32% 32%;
    width: 36%;
    height: 66px;
}

img {
    border-radius: 15px;
}

#projets>div>div>img {
    width: 80%;
    transition: 1s;
}

#projets>div>div>img:hover {
    width: 100%;
    transition: 1s;
    transition-delay: 2s;
}

#projets>div>div>button {
    color: white;
    font-family: sans-serif;
    background: var(--var-color-secondary);
    border: 0;
    font-size: 200%;
    box-shadow: 0px 5px 0px 0px hsl(214, 100%, 60%);
    transition: 0.5s;
}

#projets>div>div>button:hover {
    box-shadow: 0px 5px 0px 0px rgb(46, 255, 46);
}

#projets>div>div>p>a {
    color: white;
}

#projets>div>div>p>a:hover {
    font-size: 110%;
}

/* Footer */

#contacter>h1 {
    text-align: center;
    font-size: 50px;
}

#contacter>ul>li {
    list-style: none;
    font-size: 25px;
    text-align: center;
}

#contacter>ul>li>h5 {
    font-size: 30px;
    margin-bottom: 5px;
}

.liencontact>a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.liencontact :hover{
    font-size: 110%;
}