/*welcome*/
.welcome {
    background-image: url("../img/Fond/fondNum1.avif");
    background-attachment: fixed;
    background-size: 100% 100vh;
    min-height: 100vh;
}

.welcome>img {
    width: 30%;
    border-bottom: 6px black solid;
    border-radius: 20px;
}

.welcome svg {
    font-family: 'Russo One', sans-serif;
    width: 50%; height: 40%;
}

.welcome svg text {
    text-transform: uppercase;
    animation: stroke 4s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 130px;
}

@keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
    80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
    100% {
      fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

@media (max-width: 750px) {
    .welcome {
        padding-top: 70px;
        text-align: center;
    }

    .welcome>img {
        width: 80%;
    }

    .welcome svg {
        width: 100%; height: 50%;
    }

    .welcome svg>text {
        font-size: 120px;
    }
}